@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,40..300&display=swap');

:root{
    --violet:#5964E0;
    --light-violet:#939BF4;
    --very-dark-blue:#19202D;
    --midnight:#121721;
    --white:#FFFFFF;
    --light-grey:#F4F6F8;
    --gray:#9DAEC2;
    --dark-grey:#6E8098;
    --work-time:var(--dark-grey);
    --country-text:var(--violet);
}

body[data-theme="light"]{
    --bg-color:var(--light-grey);
    --fg-color:var(--white);
    --company-header:var(--very-dark-blue);
}
body[data-theme="dark"]{
    --bg-color:var(--very-dark-blue);
    --fg-color:var(--midnight);
    --company-header:var(--white);
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color: var(--bg-color);
    font-family: "Kumbh Sans", serif;
}
.container{
    max-width: 1160px;
    margin-inline: auto;
}
.header{
    background-image: url('/assets/img/Triangle\ \(1\).png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding:36px 24px 76px ;
}
.theme-btn-container{
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  #theme-btn{
    display: none;
  }
  
  #theme-label{
    width: 32px;
    height: 20px;
    padding: 4px;
    border-radius: 999px;
    background-color: var(--white);
    display: inline-block;
    position: relative;
  }
  
  #theme-label::after{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--violet);
    border-radius: 50%;
    position: absolute;
    transition: transform .3s;
  }
  /* #theme-label::after:hover{
    background-color: var(--light-violet);
  } */
  #theme-label:has(input:checked)::after{
    transform: translateX(12px);
  }
  .search-container{
    padding-inline: 24px;
    margin-bottom: 89px;
  }
  .search-input{
    background-color: var(--fg-color);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    position: absolute;
    top: 96px;
    
    input{
        font-weight: 400;
        font-size: 16px;
        line-height: 19.84px;
        background-color: var(--fg-color);
        border: none;
    }
    .search-button{
        display: flex;
        gap: 24px;
        .filter-btn{
            background-color: transparent;
            border: none;
        }
        .search-btn{
            padding: 14px;
            background-color: var(--violet);
            border: none;
            border-radius: 5px;
        }
    }
  }
 
  .company-container{
    background-color: var(--fg-color);
    border-radius: 6px;
    margin-inline: 24px;
    position: relative;
    margin-bottom: 49px;
    width: 100%;
    .company-info{
        padding: 49px 9px 32px 32px;
    }
    img{
        position: absolute;
        left: 32px;
        top:-25px
    }
    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 19.84px;
        color: var(--work-time);
        margin-bottom: 12px;
    }
    h1{
        font-weight: 700;
        font-size: 20px;
        line-height: 24.8px;
        color: var(--company-header);
        margin-bottom: 12px;
    }
    h4{
        font-weight: 700;
        font-size: 14px;
        line-height: 17.36px;
        color: var(--country-text);
        margin-top: 28px;
    }
  }
  @media(width > 768px){
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 11px;
    }
  }
  @media(width > 1200px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
  }